.email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    & label {
        color: var(--color-light);
        font-size: large;
    }
}


.email-input{
    display: grid;
    grid-template-columns: 20% auto;

    height: min-content;
    border-radius: var(--radius);

    border: var(--border-thickness) solid var(--border-color);
    outline: var(--thick-border) solid transparent;
    transition: all 100ms linear;
    
    & > * {
        padding: 0.5rem;
    }
    & label {
        border-right: var(--border-thickness) solid var(--border-color);
    }

    & input {
        border: none;
        font-size: large;
        width: 100%;
        border: none;
        outline: none;
    }

    &:focus-within {
    outline-color: var(--accent-light);
    outline-offset: 2px;
    }
}

.email-textarea{
    font-size: larger;
    & > * {
        margin: 0;
    }
    & label {
        border: var(--border-thickness) solid var(--border-color);
        border-bottom: none;
        padding: 0.5rem;
        display: block;
        
        border-radius: var(--radius) var(--radius) 0 0;
    }

    & textarea{
        border-radius: 0 0 var(--radius) var(--radius);
    }
}