.url-form {
    display: flex;

    height: min-content;
    border-radius: var(--radius);

    border: var(--border-thickness) solid var(--border-color);
    outline: var(--thick-border) solid transparent;
    transition: all 100ms linear;
    
    & > * {
        padding: 0.5rem;
    }
    & span {
        color: var(--color-light);
        font-size: large;
        border-right: var(--border-thickness) solid var(--border-color);
    }

    & input {
        border: none;
        font-size: large;
        width: 100%;
        border: none;
        outline: none;
    }

    &:focus-within {
      outline-color: var(--accent-light);
      outline-offset: 2px;
    }
    
}
