.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
  overflow: hidden;

  margin: auto;
  margin-top: 1rem;

  background-color: var(--fg);
  color: var(--color);

  padding: 1.5rem;
  border-radius: var(--radius);
  width: min(95%, 1000px);

  border: 1px solid rgba(116, 116, 116, 0.138);
  @media (width <= 600px) {
    padding: 0.5rem;
  }
  /* Estaria bueno agregar un media query para pantallas grandes */
}

header {
  display: grid;
  display: flex;
  align-items: center; /* Align items at the top */
  gap: 1rem;
  width: 100%;

  @media (width <= 600px) {
    gap: 0.5rem;
  }
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 4rem;

  @media (width <= 900px) {
    font-size: 3.8rem;
  }

  @media (width <= 850px) {
    font-size: 3rem;
  }

  @media (width <= 600px) {
    font-size: 2rem;
  }
}

.qrcode-logo {
  background-color: white;
  /* border-radius: var(--radius); */
  
  border-radius: var(--radius);
  height: 6rem;

  @media (width <= 600px) {
    height: 4rem;
    border-radius: 2px;
  }

  @media (width <= 500px) {
    height: 2rem;
  }
  @media (prefers-color-scheme: dark) {
    outline: 2px solid var(--border-color);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.qr-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;

  @media (width <= 930px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    &:has(.text-form){
      grid-template-rows: 1fr 2fr;
    }

    &:has(.email-form){
      grid-template-rows: 3fr 2fr;
    }
  }
}

.qrcode-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & canvas {
    margin: auto;
    border-radius: var(--radius);
  }

  @media (prefers-color-scheme: dark) {
    & canvas{
      outline: 2px solid var(--border-color);
    }
  }
}

.hidden-canvas {
  position: absolute;
  left: 10000%;
  z-index: -30;
}

.download-button {
  padding: 1rem;
  border-radius: var(--radius);

  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: var(--color);

  outline: 2px solid transparent;
  border: 2px solid var(--border-color);

  transition: all 100ms linear;

  &:focus,
  &:hover {
    outline: var(--thick-border) solid var(--accent-light);
    outline-offset: 2px;
    scale: 1.02;
  }

  &:active {
    border-color: var(--accent);
    background-color: var(--accent-light);
    /* outline-color: transparent; */
    scale: 1;
  }
}

textarea {
  padding: 0.5rem;
  font-size: larger;
  width: 100%;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--radius);
  outline: var(--thick-border) solid transparent;

  resize: none;
  transition: all 100ms linear;
  &:focus {
    outline-color: var(--accent-light);
    outline-offset: 2px;
  }
}

label {
  user-select: none;
}

checkbox {
  accent-color: var(--accent);
  background-color: var(--fg);
}

.form-input {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;

  overflow: hidden;

  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--radius);
  outline: var(--thick-border) solid transparent;

  transition: all 100ms linear;
  & > * {
    padding: 0.5rem;
  }
  & label {
    display: grid;
    align-items: center;
    height: 100%;
    font-size: larger;
    border-right: var(--border-thickness) solid var(--border-color);
    background-color: var(--label-bg);
  }

  & input, select {
    border: none;
    font-size: larger;
    width: 100%;
    border: none;
    outline: none;
  }

  &:focus-within {
    outline-color: var(--accent-light);
    outline-offset: 2px;

    & label {
      font-weight: bold;
      color: var(--color);
    }
  }


  @media (width <= 700px) {
    display: flex;
    flex-direction: column;

    outline: var(--thick-border) solid transparent;

    & label {
      font-size: 1rem;
      border: none;
      border-bottom: none;
      display: block;
      background-color: var(--label-bg);
      border-radius: var(--radius) var(--radius) 0 0;
      width: 100%;

    }
  }
}


.form-textarea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /* height: max-content; */
  outline: var(--thick-border) solid transparent;

  font-size: large;
  border-radius: var(--radius);
  transition: all 100ms linear;
  & > * {
    margin: 0;
  }
  & label {
    font-size: large;
    border: var(--border-thickness) solid var(--border-color);
    border-bottom: none;
    padding: 0.5rem;
    display: block;
    background-color: var(--label-bg);
    border-radius: var(--radius) var(--radius) 0 0;

    transition: all 100ms linear;
  }

  & textarea {
    border-radius: 0 0 var(--radius) var(--radius);
    height: 100%;
    outline: none;

  }

  
  &:focus-within {
    outline-color: var(--accent-light);
    outline-offset: 2px;

    & label {
      /* background-color: var(--accent-light); */
      font-weight: bold;
      color: var(--color);
    }
  }
}

.form-checkbox{
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;

  outline: none;
  
  transition: all 100ms linear;
  & > * {
    padding: 0.5rem;
  }

  & label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 100ms linear;
    outline: var(--thick-border) solid transparent;
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--radius);
    font-size: larger;
    background-color: var(--label-bg);

    & input {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &:focus-within {
    & label {
      outline-color: var(--accent-light);
      outline-offset: 2px;
      font-weight: bold;
      color: var(--color);
      
    }
  }

  @media (width <= 700px) {
    grid-template-columns: 100% auto;
    
  }
}


select {
  background-color: transparent;
  border: none;
  outline: none;

  & option {
    padding: 0.5rem;
  }
}

input, textarea{
  background-color: var(--fg);
  font-family: inherit;
}