:root {
  font-family: "JetBrains Mono Variable", monospace;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(29, 29, 29, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #f6f6f6;
  --fg: #ffffff;
  --border-color: rgba(92, 72, 72, 0.212);

  --color: rgb(15, 15, 15);
  --color-light: rgb(116, 116, 116);

  --accent: #5393dd;
  --accent-light: #cee5ff;
  --label-bg: var(--bg);
  --radius: 6px;
  --border-thickness: 2px;
  --thick-border: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1b1b1b;
    --fg: #272727;
    --border-color: rgb(71, 71, 71);
    
    --color: #f6f6f6;
    --color-light: rgb(167, 167, 167);
    
    --accent: #76adeb;
    --accent-light: rgb(56, 65, 75);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}